h1,
h2,
h3,
h4,
h5 {
  font-family: 'Helvetica', 'Arial', sans-serif !important;
  font-weight: bold;
}
header,
footer,
.skip_to_content,
.skip_to_navigation,
nav#breadcrumb,
nav#account_nav,
#account_order_history .actions {
  display: none;
}
#product_lead header {
  display: block;
}
div#product_pronation div.pronation_guide {
  background-color: none;
  border: none;
  box-shadow: none;
}
div#product_pronation div.pronation_guide div.scale {
  display: none;
}
div#product_pronation div.pronation_guide div.indicator {
  overflow: hidden;
}
div#product_pronation div.pronation_guide div.indicator h4 {
  background: none;
  border-radius: 0;
  color: #444444;
  padding: 0;
  height: auto;
  position: static;
}
header#page_header {
  display: block;
}
header#page_header h1 {
  font-style: normal;
}
header#page_header h3 {
  margin-top: 20px;
}
section.side_column_left,
section.side_column_right,
section.side_column_left.side_column_right {
  background: none;
}
.account_order div.main_column {
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 460px !important;
}
.account_order .order_detail {
  width: 460px !important;
}
.order_info h4 {
  font-size: 25px;
}
.order_summary_status dl dd a.order_status,
.order_details dl dd a.order_status {
  display: none;
}
#cart_summary {
  padding-top: 14px;
}
#cart_summary .item_header {
  border-bottom: 1px solid #bebfbf;
  padding-bottom: 12px;
}
#cart_summary .item_content article,
#cart_summary .item_content div#cart_totals_holder,
#cart_summary .item_content dt.total,
#cart_summary .item_content div.notes {
  border-top: 1px solid #bebfbf;
  padding-top: 20px;
}
#cart_summary .item_content article:first-child,
#cart_summary .item_content div#cart_totals_holder:first-child,
#cart_summary .item_content dt.total:first-child,
#cart_summary .item_content div.notes:first-child {
  border-top: 0;
}
#cart_summary .item_content dl dt.subtotal,
#cart_summary .item_content dl dt.total,
#cart_summary .item_content dl dd.tax,
#cart_summary .item_content dl dd.shipping,
#cart_summary .item_content dl dd.subtotal,
#cart_summary .item_content dl dd.total {
  font-family: 'Helvetica', 'Arial', sans-serif !important;
}
a.continue,
a.print,
#checkout_progress,
#atlwdg-trigger {
  display: none;
}
div#checkout_confirmation div#guest_register {
  display: none;
}
div#checkout_confirmation div.item > h3 {
  display: none;
}
div#checkout_confirmation div.item div.order_details.definitions br {
  display: none;
}
