      <footer role="contentinfo">

  <div id="bottom">
    <div class="wrap">
            <nav id="tertiary" role="navigation">
        <div class="backToTop">
                      <a href="#"><span class="icon"></span>Back to top</a>
                  </div>
              <ul class="level_1">
          <li style="min-height: 289px;" class="level_1">
                            <h3>Popular Products</h3>
                            <ul class="level_2 first_of_row">
                <li class="level_2">
                    <a href="http://www.sportif.com.au/running/cat/runningshoes" title="Running Shoes">
      Running Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/training/cat/trainingshoes" title="Training Shoes">
      Training Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/shoes/cat/genderkidsshoes" title="Kids Shoes">
      Kids Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/football/cat/footballshoes" title="Football Boots">
      Football Boots</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/netball/cat/netballshoes" title="Netball Shoes">
      Netball Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/health-%26-leisure/cat/healthleisureshoes" title="Health &amp; Leisure Shoes">
      Health &amp; Leisure Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/cricket/cat/cricketshoes" title="Cricket Shoes">
      Cricket Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/tennis/cat/tennisshoes" title="Tennis Shoes">
      Tennis Shoes</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/clothing/cat/clothing" title="Clothing">
      Clothing</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/accessories/cat/accessories" title="Accessories">
      Accessories</a>
  </li>
                </ul>
            </li>
          <li style="min-height: 289px;" class="level_1">
                            <h3>Customer Services</h3>
                            <ul class="level_2 first_of_row">
                <li class="level_2">
                    <a href="http://www.sportif.com.au/contact-sportif" title="Contact SPORTIF">
      Contact SPORTIF</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/store-finder" title="Store Locator">
      Store Locator</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/returns" title="Returns Policy">
      Returns Policy</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/delivery-info" title="Delivery Information">
      Delivery Information</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/shoe-size-guide" title="Shoe Size Guide">
      Shoe Size Guide</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/shoe-width-guide" title="Shoe Width Guide">
      Shoe Width Guide</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/clothing-size-guide" title="Clothing Size Guide">
      Clothing Size Guide</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/pronation-guide" title="Pronation Chart">
      Pronation Chart</a>
  </li>
                </ul>
            </li>
          <li style="min-height: 289px;" class="level_1">
                            <h3>Corporate</h3>
                            <ul class="level_2 first_of_row">
                <li class="level_2">
                    <a href="http://www.sportif.com.au/about-sportif" title="About SPORTIF">
      About SPORTIF</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/news" title="News">
      News</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/partnerships" title="Partnerships">
      Partnerships</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com/en/csr" title="Corporate Responsibility" target="_blank">
      Corporate Responsibility</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/careers-why-join" title="Careers">
      Careers</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/privacy-policy" title="Privacy Policy">
      Privacy Policy</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/terms-of-sale" title="Terms of Sale">
      Terms of Sale</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportif.com.au/terms-of-use" title="Terms of Use">
      Terms of Use</a>
  </li>
                <li class="level_2">
                    <a href="http://www.sportifmedical.com.au/signin.aspx" title="SPORTIF Medical" target="_blank">
      SPORTIF Medical</a>
  </li>
                </ul>
            </li>
          </ul>
      </nav>

      <div id="newsletter_signup">
          <h3>Email newsletter</h3>
          <form class="newsletter_signup_form ng-pristine ng-valid" action="/json/newsletter/signup.json" novalidate="">
            <ol>
              <li>
                <label>Email address</label>
                <input name="email" class="text" placeholder="Email address" type="email">
              </li>
            </ol>
            <div class="buttons">
              <input class="button  auto" value="Sign Up" type="submit">
            </div>
          </form>
          <p>Signup to our newsletter and receive special offers and exclusive news about our products</p>
        </div>
      <div id="payment_wrap">
            <div id="verisign_info">
              <dl>
                <dt class="logo_verisign"></dt>
                <dd>SPORTIF.com.au is secure.</dd>
                          <dd>We protect your personal details at all times.</dd>
                        </dl>
                      </div>
                      <div id="card_logos">
                          <dl>
                              <dt>We accept</dt>
                              <dd class="payment_icons payment_logo_visa"></dd>
                              <dd class="payment_icons payment_logo_mastercard"></dd>
                              <dd class="payment_icons payment_logo_paypal"></dd>
                          </dl>
                      </div>
                  </div>
                <div class="site_payments">
        </div>

    </div>
  </div>

  <div id="end">
    <div class="wrap">

      <div id="trademark">
        <p>The stripe design featured on the sides of SPORTIF shoes is a
trademark of SPORTIF Corporation and is a registered trademark in most
countries of the world</p>
      </div>

      <div id="copyright">
        <p><span class="icon icon_shoe"></span>¬© 2013 SPORTIF Australia</p>
      </div>

            </div>
  </div>

</footer>
