<div id="content" class="main" role="main">
  <div class="wrap">

    <section class="search">

      <!-- START BREADCRUMB -->
      <div ng-include="'partials/clothing_main/breadcrumb'"></div>
      <!-- END BREADCRUMB -->

      <header class="search_header">
          <h1>clothing</h1>
      </header>

      <!-- START SIDEBAR -->
      <div ng-include="'partials/clothing_main/sidebar'"></div>
      <!-- END SIDEBAR -->

      <h5 class="listing_count">{{clothingProducts.length}} Results</h5>

      <!-- START PRODUCT LISTING -->
      <div ng-include="'partials/clothing_main/productListing'"></div>
      <!-- END PRODUCT LISTING -->

    </section>
  </div>
</div>
