<div class="product_listing_main cover_holder">

  <!-- START PAGINATION -->
  <div ng-include="'partials/pagination'"></div>
  <!-- END PAGINATION -->

  <div data-article-load-animate class="product_listing_compact">

    <article ng-repeat="item in clothingProductsShow" class="product basic" ng-class="{'first_of_row': $index % 3 == 0, 'last_in_view': $last}">

      <!-- apply directive to trigger last_element_loaded event -->
      <div ng-if="$last" data-on-repeat-done="last_article_on_page_loaded"></div>

      <div class="image">
        <a href="{{item.link}}" class="image_link">
          <img ng-src="{{item.src}}" class="loaded" style="display: block;" alt="{{item.name}}">
        </a>
      </div>

      <div class="content">

        <h3 class="name">
          <a href="{{item.link}}">{{item.name}}</a>
        </h3>
        <ul class="pricing">
          <li class="price_black" nig-if="item.currentPrice !== null">
            {{item.currentPrice | currency}}
          </li>
        </ul>
        <h4>{{item.sub_category}}</h4>

        <p>{{item.short_description}}</p>

      </div>

      <div class="actions">
        <a href="{{item.link}}" class="button">{{item.availability}}</a>
      </div>
    </article>
  </div>

</div>

<!-- </div> -->
