<div class="product_listing_main cover_holder">

  <!-- START PAGINATION -->
  <div ng-include="'partials/pagination'"></div>
  <!-- END PAGINATION -->

  <div data-article-load-animate class="product_listing_compact">

    <article ng-repeat="shoe in shoesProductsShow" class="product basic" ng-class="{'first_of_row': $index % 3 == 0, 'last_in_view': $last}">

      <!-- apply directive to trigger last_element_loaded event -->
      <div ng-if="$last">
        <div data-on-repeat-done="last_element_loaded"></div>
      </div>
      <div class="image">
        <a href="{{shoe.link}}" class="image_link">
          <img ng-src="{{shoe.src}}" class="loaded" style="display: block;" alt="{{shoe.name}}">
        </a>
      </div>

      <div class="content">

        <h3 class="name">
          <a href="{{shoe.link}}">{{shoe.name}}</a>
        </h3>
        <ul class="pricing">
          <li class="price_black" nig-if="shoe.currentPrice !== null">
            {{shoe.currentPrice | currency}}
          </li>
        </ul>
        <h4>{{shoe.sub_category}}</h4>

        <p>{{shoe.short_description}}</p>

      </div>

      <div class="actions">
        <a href="{{shoe.link}}" class="button">{{shoe.availability}}</a>
      </div>
    </article>
  </div>

</div>

<!-- </div> -->
