<div class="item hero hero_slider focal">
  <div class="carousel full" data-carousel="" data-autoplay="">
    <div class="viewport">

      <div style="" class="slides">

        <div ng-repeat="slide in quadrantOneData">

          <!-- apply directive to trigger last_slide_loaded event -->
          <div ng-if="$last" data-on-repeat-done="last_slide_loaded"></div>

          <a href="{{slide.link}}" class="image_link" title="{{slide.alt}}">
            <img class="hero_image" ng-src="{{slide.src}}" alt="{{slide.alt}}" height="395px" width="1400px">
          </a>
        </div>

      </div>
      <!--  END .slides -->
    </div>
    <!-- END .viewport -->
  </div>
  <!-- END .carousel -->
</div>
