<!DOCTYPE html>
<html lang="en" ng-app="SportifStore" ng-controller="MainCtrl">
<head>
  <!--[if lt IE 9]>
  <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <![endif]-->

  <title>{{company}}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="Running Shoes | Sport Clothing &amp;amp; Accessories | {{company}} ">
  <meta name="keywords" content="">
  <meta name="robots" content="index,follow">
  <meta property="og:title" content="Running Shoes | Sport Clothing &amp;amp; Accessories | {{company}} ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.ggsportif.com/">
  <meta property="og:site_name" content="Sportif">

  <!-- custom css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- end custom css -->

  <!-- vendor css dependencies -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <!-- end vendor css dependencies -->

  <!-- vendor js dependencies -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/velocity/jquery.velocity.min.js"></script>
  <script src="vendor/velocity.ui.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>
  <!-- end vendor js dependencies -->

  <!-- front-end business logic -->
  <script src="js/0.js"></script>
  <!-- end front-end business logic -->

</head>

<body>
  <!-- Add your site or application content here -->
  <div ui-view></div>
</body>
</html>
